<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{ question.subject }}</h1>

    <div>
        {{ question.content }}
    </div>
    <h5>{{ question.answer_set.count }}개의 답변이 있습니다.</h5>
    <div>
        <ul>
        {% for answer in question.answer_set.all %} 
            <li> {{ answer.content }}</li>
        {% endfor %}
        </ul>
    </div>
    
    <form action="{% url 'answer_create' question.id %}" method="post">
        {% csrf_token %}
        <textarea name="content" id="content" rows="15"></textarea>
        <input type="submit" value="답변 등록">
    </form>
    <a href="{% url 'mypage' request.user %}">돌아가기</a>
    </body>
</html>