<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>질문제목 {{question.subject}}</h3>
    <p>질문내용 {{question.content}}</p>
    <div>
        {% if doctor %}
            의사 : {{doctor}} 답변횟수 : {{doctor.total_posts}}
            <br>의사설명 : {{doctor.comment}}
            {% if doctor.doctor_picture %}  <!--템플릿 안에서 조건문-->
            <img src="{{doctor.doctor_picture.url}}"><!--의사프로필--><br>
           
                {% else %}
                    <img  src="http://via.placeholder.com/100x100" alt="">
                {% endif %}
            
        <br>답변내용 : {{answer.content}}
        {% else %}
        의사 답변없음
        {% endif %}
        


    </div>
    {% if request.user.is_doctor and not answer.writer%}
    <form action="{% url 'answer_create' question.id %}" method="post">
        {% csrf_token %}
        <textarea name="content" id="content" rows="15"></textarea>
        <input type="submit" value="답변 등록">
    </form>
    {% elif request.user.is_doctor %}
        이미 의사가 답변함 
      
    {% endif %}
    <a href="{% url 'mypage' request.user %}">돌아가기</a>
    <a href="{% url 'index' %}">홈으로</a>
    </body>
</html>