<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>질문 페이지</title>
</head>
<body>
    <h1>작성한 질문 리스트</h1>
    <!-- 전체 question list 표시-->
    {% if question_list %}
        <ul>
        {% for question in question_list %}
        <li>
            <a href='question/{{ question.id }}'>{{question.subject}}
                {{question.writer}}
                {{question.create_date}}
                {{question.content}}</a>
            </li>  
        {% endfor %}
        </ul>
    {% else %}
        <p>질문이 없습니다.</p>
    {% endif %}

    {% for hospital in reservated_hospitals %}
    {{ hospital.name }}<br>
    {% for review in hospital.review_set.all %}
        {{review.title}}
        {{review.content}}
        {{review.point}}<br>
    {% empty %}
        작성된 리뷰 없음<br>리뷰작성하러가기
    {% endfor %}
{% empty %}
    예약한 병원 없음
{% endfor %}
</body>
</html>