<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>질문 페이지</title>
</head>
<body>
    <a href="{% url 'index' %}">홈으로</a>
    <h1>작성한 질문 리스트</h1>
    <!-- 전체 question list 표시-->
    {% if question_list %}
        <ul>
        {% for question in question_list %}
        <li>
            <a href="{% url 'question-detail' question.id %}">{{question.subject}}
                {{question.writer}}
                {{question.create_date}}
                {{question.content}}</a>
            </li>  
        {% endfor %}
        </ul>
    {% else %}
        <p>질문이 없습니다.</p>
    {% endif %}
    <a href="{% url 'question_write' %}">글 작성하기</a><br><br>

{% for review in reviews %}
병원명 : {{review.hospital.name}}<br>
{{review.comment}}<br><br>
{% empty %}
작성한 리뷰 없음
{% endfor %}

<a href="{% url 'review-create-url' request.user %}">리뷰작성하기</a>



</body>
</html>