<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>    
    <a href="{% url 'index' %}">홈으로</a>
    <h3>{{ hospital.name }}</h3>
    <p>
        {{ hospital.adress }}<br>
    </p>
    <img src="{{hospital.image.url}}" width="200" height="200">
<br>
<a href="{% url 'index' %}">홈으로</a>
    병원 리뷰
    {% for review in reviews %}
    <p>{{ review.point }}점 /  {{review.comment}} {{review.writer}}</p>
    {% empty %}
    <Br>리뷰없음<br>
    {% endfor %}
    

    {% if finish %}
        <script>
        alert("{{finish}}")
        </script>
    {% endif %}

    <!--만약 예약한 사용자인 경우에만 리뷰 작성하기가 뜨도록-->

        <form action="{% url 'reservation' hospital_id=hospital.id %}" method="post">
            {% csrf_token %}
            <button type="submit">예약하기</button>
        </form>
 

        
</body>
</html>